body {
  background: #43766c;
}
.content {
  width: 500px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aad9bb;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 50px;
}
.gameTitle {
  margin-top: 60px;
  color: #005b41;
}

.player1 {
  padding-top: 42px;
  margin-bottom: 28px;
}

.player1Input {
  padding: 10px 25px;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.startBtn {
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  background: #f9f7c9;
}

.msg {
  color: rgba(255, 0, 204, 0.8);
}

.player2Input {
  padding: 10px 25px;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: none;
}
.guessBtn {
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
  cursor: pointer;
  background: #eef296;
}
.newGame {
  color: #ffcc70;
  background: #0f1035;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  display: none;
}

/* ========= Responsive ======== */

@media only screen and (max-width: 400px) {
  .content {
    width: 291px;
    height: 483px;
    margin-top: 39px;
  }
  .gameTitle {
    margin-top: 43px;
  }
  .player1 {
    padding-top: 6px;
    margin-bottom: 24px;
  }
  .msg {
    color: rgba(255, 0, 204, 0.8);
    padding: 7px;
  }
}
